@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  /* TODO: 一時的に一律ダークモードのスタイルを使用する */
  --foreground-rgb: 236, 237, 238;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 236, 237, 238;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body > * {
  height: 100%;
  overflow-y: auto;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
      circle at top left,
      rgba(255, 0, 0, 0.2),
      transparent 50%
    ),
    radial-gradient(
      circle at top right,
      rgba(128, 0, 128, 0.2),
      transparent 50%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(255, 165, 0, 0.2),
      transparent 50%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(255, 192, 203, 0.2),
      transparent 50%
    );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
